<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>282675577257-28q705uutelleks04viv56g8qhn8q6cs.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.282675577257-28q705uutelleks04viv56g8qhn8q6cs</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>282675577257-rqogqb3sl3fdmeu50ppqgo12g3ep2vna.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyDYvHNYvwp721xQjHJT2BeZo_QyuICqK50</string>
	<key>GCM_SENDER_ID</key>
	<string>282675577257</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>jamesthomso.com.mommyToBe</string>
	<key>PROJECT_ID</key>
	<string>flutter-login-ba671</string>
	<key>STORAGE_BUCKET</key>
	<string>flutter-login-ba671.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:282675577257:ios:667839bc145b9389f1c4b8</string>
</dict>
</plist>